{% load myfilter %}
<h1>文章批量对比</h1>
<small style="color: red">说明：相似距离越小，文章越相似</small>
<h3>判定距离：{{dec_distance}}</h3>
{% for key,value in results.items %}
<h1  >{{key}}</h1>
         <table>

    {% for res in value %}
          <tr>
                <td>相似度：percent:{{res.percent}}%</td>
                <td>相似距离：{{res.distance}}</td>
                <td>对比来源：{{res.name}}</td>
                <td><a href="/v2/compare/zs/ls">对比</a></td>
          </tr>
    {% endfor %}

        </table>
{% endfor %}